
.projects-page{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    .page-heading{
        h1{
            color: rgb(245, 137, 137);
            margin-top: 0;
            position: relative;
            margin-bottom: 20px;
        }
    }
}

.portfolio{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    ul{
    list-style: none;
    display: flex;   
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
    color: #fff;

    li{
        font-size: 1rem;
        min-width: 100px;
        background-color: transparent;
        font-weight: 600;
        font-size: 18px;
        padding: 0.4rem 0.8rem;
        cursor: pointer;
        &.active{
            color: rgb(245, 137, 137);
            font-weight: 600;
            font-size: 1.3rem;

        }
        }
    }
}
.projects-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    min-width: 375px;
    height: 25vh;
    overflow: hidden;
    margin: 2.5rem;
    border-radius: 20px;
    position: relative;
    &:hover{
        width: 22vw;
        height: 30vh;
        background-color: #111;
        img{
            z-index: 0;
            opacity: 0.2;
        }
    }
    img{
        width: 100%;
        object-fit: cover;
        z-index: 1;
        transition: all 0.5s ease-in;

    }
    h2{
        font-size: 2.2rem;
        position: absolute;
        transform: translateY(-4rem);
        color: rgb(245, 137, 137);
    }
    p{
        font-size: 1.2rem;
        font-weight: 500;
        position: absolute;
        padding-top: 1rem;
        color: rgb(250, 206, 206);
    }
    button{
        position: absolute;
        margin-top: 5rem;
        padding: 0.4rem 0.8rem;
        font-size: 1rem;
        border-radius: 0.2rem;
        background-color: rgb(245, 137, 137);
        border: 1px solid #000;
        transform: translateY(35px);
        a{
            text-decoration: none;
            color: #fff;
        }
        
        &:hover{
            color: rgb(245, 137, 137);
            background-color: #fff;
            border: 2px solid rgb(245, 137, 137);
        }
    }
}

@media (max-width: 568px) {
    .projects-page{
    .page-heading{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .portfolio{
        ul{
            padding-left: 0;
        }
    }
    .project{
        width: 50%;
        margin: 2rem 2rem;
        img{
            min-width: 50%;
        }
        
        &:hover{
            width: 120%;
            height: 150%;
        }
    }

}
}