@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

.about-page{
.page-heading{
    width: 100%;
    margin: 2rem;
    vertical-align: table-cell;
    max-height: 90%;
    font-size: 2.5rem;
    h1{
        color: rgb(245, 137, 137);
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left:10px;
    }
}
.coded-about-me{
    margin: 5rem 0;
    display: flex;
    direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Noto Sans Mono', monospace;
    p{
        max-height: 80%;
        position: relative;
        background-color: #333;
        padding: 10vh 5vw;
        color: #fff;
        border-radius: 20px;
        font-size: 18px;
        width: 30%;
        align-self: center;
        min-width: 350px;
        span{
            position: absolute;
            top: 0;
            padding: 5px 0;
            left: 0;
            text-align: end;
            width: 100%;
            background-color: #fff;
            border-radius: 20px 20px 0 0;
            >*{
                padding: 5px;
                background-color: rgb(245, 137, 137);
                margin: 0 0.5rem;
                border-radius: 50%;
            }
        }

        a{
            text-decoration: none;
            color: rgb(245, 137, 137);
            transform: (translateY(2px));
            &:hover{
            font-size: 22px;
            color: #fff;
            padding: 0.5rem;
            border-radius: 5px;
            background-color: rgb(245, 137, 137);
            border: 1px solid #fff;
            }
        }
        
    }
    .my-img-holder{
        min-width: 350px;
        margin: 2rem 0;
    }
    .my-img{
        border-radius: 50%;
        max-width: 480px;
    }
}
}


@media (max-width: 568px) {
    .page-heading{
    h1{
        transform: translateX(-3.5rem);
        font-size: 2.5rem;
    }
    }
    .coded-about-me{
        margin: 0.5rem 0;
    }
}