@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
$duration: 20s;
@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .ticker-wrap {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    bottom: -20vh;
    overflow: hidden;
    background-color: rgba(#000, 0); 
    padding-left: 100%;
    box-sizing: content-box;
  
    .ticker {
      display: flex;
      flex-direction: row;
      height: 4rem;
      line-height: 4rem;  
      white-space: nowrap;
      box-sizing: content-box;
  
      -webkit-animation-iteration-count: infinite; 
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
     -webkit-animation-name: ticker;
             animation-name: ticker;
      -webkit-animation-duration: $duration;
              animation-duration: $duration;
  
      &__item {
        display: flex;
        width: 10%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 2rem;
        font-size: 2rem;
        color: white;
        overflow: hidden;
        img{
            max-width:100%;
            max-height:100%;
        }
      }
  
    }
  
  }
.about-page{
.page-heading{
    width: 100%;
    margin: 2rem;
    vertical-align: table-cell;
    max-height: 90%;
    font-size: 2.5rem;
    h1{
        color: rgb(245, 137, 137);
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left:10px;
    }

}

.coded-about-me{
    margin: 5rem 0;
    display: flex;
    direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Noto Sans Mono', monospace;
    p{
        z-index: 2;
        max-height: 80%;
        position: relative;
        background-color: #333;
        padding: 10vh 5vw;
        color: #fff;
        border-radius: 20px;
        font-size: 18px;
        width: 30%;
        align-self: center;
        min-width: 350px;
        span{
            position: absolute;
            top: 0;
            padding: 5px 0;
            left: 0;
            text-align: end;
            width: 100%;
            background-color: #fff;
            border-radius: 20px 20px 0 0;
            >*{
                padding: 5px;
                background-color: rgb(245, 137, 137);
                margin: 0 0.5rem;
                border-radius: 50%;
            }
        }

        a{
            text-decoration: none;
            color: rgb(245, 137, 137);
            transform: (translateY(2px));
            &:hover{
            font-size: 22px;
            color: #fff;
            padding: 0.5rem;
            border-radius: 5px;
            background-color: rgb(245, 137, 137);
            border: 1px solid #fff;
            }
        }
        
    }
    .my-img-holder{
        min-width: 350px;
        margin: 2rem 0;
    }
    .my-img{
        border-radius: 50%;
        max-width: 360px;
    }
}
}


@media (max-width: 568px) {
    .about-page{
        .ticker-wrap{
            visibility: hidden;
      }
    .page-heading{
        width: 100%;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        justify-content: center;
        font-size: 1.5rem;
    h1{
        font-size: 2.5rem;
        transform: translateX(-0.6rem);
    }
    }
    .coded-about-me{
        margin: 0.5rem 0.5rem;
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: center;
        padding-left: 2.5vw;
        p{
            transform: translateX(1rem);
            margin-left:0.2rem;
            padding: 3rem 0 2rem 1rem;
            font-size: 12px;
            
        }
        .my-img{
            transform: translateX(15px);
            width: 90%;
        }
    }
}
}