
.about-page{
.page-heading{
    width: 100%;
    margin: 2rem;
    transform: translateX(-10vw);
    vertical-align: table-cell;
    max-height: 90%;
    font-size: 2.5rem;
    h1{
        color: lightcoral;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left:10px;
    }
}
.coded-about-me{
    margin: 5rem 0;
    display: flex;
    direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    p{
        background-color: gray;
        padding: 10vh 5vw;
        color: #fff;
        border-radius: 20px;
        font-size: 18px;
        width: 30%;
        align-self: flex-start;
        min-width: 350px;
        
    }
    .my-img-holder{
        min-width: 350px;
        margin: 2rem 0;
    }
    .my-img{
        border-radius: 50%;
        max-width: 360px;
    }
}
}


