@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

body {
  margin: 0;
  font-family: 'Cherry Cream Soda', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: #01334e;
  display:block;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
